/*adicionei um dark mode */
 @media screen and (prefers-color-scheme:dark){

  body {
      background-color: #111111;
      color: #f0ece2;
    }
  
    h1 {
      color: #d4d5d6;
    }

}

body {
  font-family: "Open Sans", sans-serif;

  text-align: center; /*tava end*/
  margin: 0;
}

#hero {
    width: 592px;
    margin: 0 auto 72px; /*tava só 72px na parte de cima */
}

#hero img {           /*adicionei o #hero*/
    margin: 0 auto 72px; /*tava 100px*/
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;

  margin-bottom: 32px;  /*margin-bottom*/
}

h1 span {     /*tava sem a tag span*/
  font-weight: bold; 
}

span, a {
  color: #ff9900;
}

p, #footer {
  color: #7d7987;
  font-size: 14px;
  line-height: 28px;
}

#footer a + a {
    margin-left: 28px;
}

.line {
    width: 568px;
    height: 0px;

    margin: 0 auto 8px;

    border: 1px solid #ECEFF2;
}

#balls {
    position: fixed;
    bottom: 0; /*tava top*/
    right: 0;
}